# Visual Studio / Rider
.vs/
.idea/
*.user
*.suo
*.userosscache
*.sln.docstates

# Build Outputs
[Bb]in/
[Oo]bj/
SetupOutput/
SetupStandalone/
ValheimVRInstaller/Payload/
ValheimVRInstaller/payload.zip
prepare_payload.ps1

# Temporary files
*.tmp
*.log
